
.search{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}
.text-box{
  border: none;
  border-bottom: 2px solid red;
  width: 100%;
  text-align: center;
}
.search-box{
    margin-top: 1in;
}
.result-container{
    display:flex;
}
.result-container img{
    max-height: 200px;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}