<div class="container">
  <h1 class=" centre" style="font-family: 'Carter One', cursive;">MY Quotes</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let goal of goals;let i = index'>
        <div>
          <h6 id={{i}} appStrikethrough style="font-family: 'Caveat Brush', cursive; font-size:22px">{{goal.description}}</h6>
          <button (click)='toggleDetails(i)' class="btn btn-primary" style="border-radius: 20px;">Details</button>
        </div>

        <div *ngIf='goal.showDescription'>
          <app-goal-detail  [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
 </div>
  </div>
  <p *ngIf='goals.length > 20'>You have too many quotes</p>
</div>
<h6 style="text-align: center; margin-top: 1cm; font-family: 'Caveat Brush', cursive; font-size: 22px;">Anything worth doing well is worth doing poorly at first.</h6>
<h6 style="text-align: center; margin-top: 0; font-family: 'Caveat Brush', cursive; font-size: 22px;">— Ray Congdon</h6>